body {
  padding-bottom: 20px;
}

h1 {
  color: #4c0196;
  text-align: center;
  font-style: italic;
}

h2 {
  text-align: center;
}

ul {
  text-align: justify;
}
#scatter::before {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: -1;
  width: 400px;
  height: 300px;
  content: " ";
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 2;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 10px helvetica;
  color: white;
  text-align: center;
  background: #612f07;
  border-radius: 10px;
}

.axis-text {
  font-family: helvetica;
  font-weight: bold;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: blue;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: grey;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #031a49;
  cursor: pointer;
}

.stateText {
  font-family: helvetica;
  fill: #fff;
  text-anchor: middle;
}

#footer {
  bottom: 0;
  width: 100%; 
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: left;
  background-color: lightgrey;
  font-weight: bold;
}

#footer p {
  margin: 0;
  font-size: 10px;
  text-align: left;
}

 .article-text{
  padding-top: 10px;
}

.article{
  padding-left: relative;
  text-align: justify;
}